<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1 class='header'>"<%= results['Title']%>"</h1>
<div>
<p class = 'allText'>Year: <%= results['Year'] %></p>
<p class = 'allText'>Genre: <%= results['Genre'] %></p>
<p class = 'allText'>Actors: <%= results['Actors']%></p>
<p class = 'allText'>Rotten Tomatoes: <%= tomatoMeter%></p></body>
<p class = 'allText'>Poster: <br /> <img src="<%= results['Poster']%>"></p>
</div>
</body>
</html>
