<%= include header %>

<h1 align="center">Search Results For "<%= title %>"</h1>
<h2>
	
	<% for (var i = 0; i < movList.length; i++) { %>
	<li>
	<a href='/search/<%=movList[i].imdbID %>'><%= movList[i].Title %> (<%= movList[i].Year %>) </a>
	</li>
	<% } %>
	
</h2>
</body>
</html>